<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8496DA9B207A5A8100BB0A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8496DAB3207A5A8200BB0A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8496DABE207A5A8200BB0A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
